:root{
  color-scheme: light;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
}
*{ box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
#root { height: 100%; }
button, input, select {
  font: inherit;
}
